<a href="https://colab.research.google.com/github/hauphanlvc/colab/blob/main/Bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
bankdata = pd.read_csv("bill_authentication.csv")

In [ ]:
bankdata.shape

(1372, 5)

In [ ]:
bankdata.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [ ]:
X = bankdata.drop('Class', axis=1) // Phân chia thành 2 thành phần xi và yi 
y = bankdata['Class']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)
// chia dữ liệu thành 2 phần train và test

In [ ]:
from sklearn.svm import SVC 
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)
// sử dụng thuật linear svm

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred = svclassifier.predict(X_test) // giá trị dự đoán

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[159   2]
 [  0 114]]
              precision    recall  f1-score   support

           0       1.00      0.99      0.99       161
           1       0.98      1.00      0.99       114

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275